priority -50

snippet hpinfo "Program Infomations" b
%% ---- Program Info Start----
%FileName:     `!v expand("%")`
%
%Author:       Fuchen Duan
%
%Email:        slow295185031@gmail.com
%
%CreatedAt:    `!v strftime("%Y-%m-%d %H:%M:%S")`
%% ---- Program Info End----

clear;format long; clc;
${0}
endsnippet

# Function
snippet func
function [${1:1_out}] = ${2:2_functionName}(${3:3_param})
	${0:5_content}
end
endsnippet
